configuration {
  display-drun: "Applications:";
  display-window: "Windows:";
  drun-display-format: "{icon} {name}";
  font: "CaskaydiaCove Nerd Font 11";
  /* modi: "run,drun"; */
  show-icons: true;
  icon-theme: "Dracula";
}

@theme "~/.cache/wal/colors-rofi-dark.rasi"
