* {
  border: 10px;
  border-radius: 0px;
  font-family: "FiraCode Nerd Font";
  font-weight: bold;
  font-size: 15px;
  min-height: 0px;
}

@import "/home/zak/.cache/wal/colors-waybar.css";

window#waybar {
  /* background: rgba(0, 0, 0, 0); */
  background: @background;
}

tooltip {
  background: @background;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: @color1;
}

#battery,
#bluetooth,
#clock,
#cpu,
#custom-Time4Salat,
#custom-power_profile,
#memory,
#network,
#pulseaudio,
#temperature,
#tray,
#workspaces,
#backlight {
  background: @background;
  opacity: 0.8;
  padding: 0px 0px 0px 0px;
  margin-left: 10px;
  /* border: 1px solid @background; */
}

#cpu,
#backlight,
#network,
#clock {
  border-radius: 0px 0px 0px 0px;
  padding: 0px;
}

#bluetooth,
#pulseaudio.microphone,
#battery,
#custom-Time4Salat {
  border-radius: 0px 0px 0px 0px;
  margin-right: 0px;
}

#tray,
#workspaces {
  border-radius: 0px;
  padding: 0px 0px 0px 0px;
}

#backlight {
  color: #9ccfd8;
}

#battery {
  color: #31748f;
}

#cpu {
  color: #6e6a86;
}

#memory {
  color: #6e6a86;
}

#custom-power_profile {
  color: #31748f;
}

#clock {
  color: @foreground;
}

#network {
  color: #f6c177;
}

#bluetooth {
  color: #9ccfd8;
}

#pulseaudio {
  color: #c4a7e7;
}

#pulseaudio.microphone {
  color: #ebbcba;
}

#custom-Time4Salat {
  padding: 0px 0px 0px 10px;
  color: #f6c177;
}

#workspaces {
  margin-left: 10px;
}

#workspaces button {
  color: #6e6a86;
}

#workspaces button.active {
  color: #e0def4;
}

#workspaces button:hover {
    background: #26233a;
    color: #e0def4;
    border-radius: 0px;
}

#tray {
  padding: 0px;
}
