* {
  font-family: "Fira Code Nerd Font";
  font-weight: bold;
  font-size: 15px;
  min-height: 0;
}

window#waybar {
  background: rgba(0, 0, 0, 0);
}

tooltip {
  background: #1e1e2e;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #11111b;
}

#battery,
#bluetooth,
#clock,
#cpu,
#custom-Time4Salat,
#custom-power_profile,
#memory,
#network,
#pulseaudio,
#temperature,
#tray,
#workspaces,
#backlight {
  background: #1e1e2e;
  opacity: 0.8;
  padding: 0px 7px;
  margin-top: 5px;
  border: 1px solid #181825;
}

#custom-power_profile,
#backlight,
#network,
#clock {
  border-radius: 10px 0px 0px 10px;
}

#bluetooth,
#pulseaudio.microphone,
#battery,
#custom-Time4Salat {
  border-radius: 0px 10px 10px 0px;
  margin-right: 10px;
}

#tray,
#workspaces {
  border-radius: 10px;
}

#custom-power_profile {
  color: #a6e3a1;
}

#clock {
  color: #f7f7f7;
}

#network {
  color: #f9e2af;
}

#bluetooth {
  color: #89b4fa;
}

#pulseaudio {
  color: #89b4fa;
}

#pulseaudio.microphone {
  color: #cba6f7;
}

#battery {
  color: #a6e3a1;
}

#custom-Time4Salat {
  color: #f9e2af;
}

#workspaces {
  margin-left: 10px;
}

#workspaces button {
  color: #313244;
}

#workspaces button.active {
  color: #a6adc8;
}

#workspaces button:hover {
    background: #11111b;
    color: #cdd6f4;
    border-radius: 10px;
}
