* {
  border: 10px;
  border-radius: 0px;
  font-family: "FiraCode Nerd Font";
  font-weight: bold;
  font-size: 15px;
  min-height: 0px;
}

@import url("file:///home/zak/.local/share/rose-pine/rose-pine.css");

window#waybar {
  background: @base;
}

tooltip {
  background: @base;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: @overlay;
}

#battery,
#clock,
#cpu,
#custom-Time4Salat,
#custom-power_profile,
#memory,
#network,
#bluetooth,
#pulseaudio,
#temperature,
#tray,
#workspaces,
#backlight {
  background: @base;
  opacity: 0.8;
  padding: 0px 0px 0px 0px;
  margin-left: 10px;
}

#cpu,
#backlight,
#network,
#clock,
#idle_inhibitor {
  border-radius: 0px 0px 0px 0px;
  padding: 0px;
}

#bluetooth,
#pulseaudio.microphone,
#battery,
#custom-Time4Salat {
  border-radius: 0px 0px 0px 0px;
  margin-right: 0px;
}

#tray,
#workspaces {
  border-radius: 0px;
  padding: 0px 0px 0px 0px;
}

#backlight {
  color: @love;
}

#battery {
  color: @foam;
}

#cpu {
  color: @subtle;
}

#memory {
  color: @subtle;
}

#custom-power_profile {
  color: @foam;
}

#clock {
  color: @text;
}

#network {
  color: @iris;
}

#bluetooth {
  color: @iris;
}

#pulseaudio {
  color: @iris;
}

#pulseaudio.microphone {
  color: @rose;
}

#custom-Time4Salat {
  padding: 0px 0px 0px 10px;
  color: @gold;
}

#workspaces {
  margin-left: 10px;
}

#workspaces button {
  color: @muted;
}

#workspaces button.active {
  color: @text;
}

#workspaces button:hover {
  background: @overlay;
  color: @text;
  border-radius: 0px;
}

#tray {
  padding: 0px;
}

#idle_inhibitor {
  background-color: rgba(0, 0, 0, 0);
  color: @iris;
  border-radius: 5px;
  margin-right: 10px;
}

#idle_inhibitor.activated {
  background-color: rgba(0, 0, 0, 0);
  color: @iris;
  border-radius: 5px;
  margin-right: 10px;
}

/* vim: set syntax=scss: */
